{% macro render_new(endpoint) %}
    <a href="{{ url_for(endpoint) }}" class="btn btn-primary content-new"><i class="glyphicon glyphicon-plus"></i></a>
{% endmacro %}

{% macro render_menu(endpoint, display, active='') %}
    <li {% if request.endpoint == endpoint or active == endpoint %} class='active' {% endif %}>
        <a href="{{ url_for(endpoint) }}">{{ display }}</a>
    </li>
{% endmacro %}

{% macro render_sub_hp_menu(endpoint, display , id) %}
    <li class="pros-hp-button" >
        <a href="{{ url_for(endpoint,id=id) }}">{{ display }}</a>
    </li>
{% endmacro %}

