@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    margin:0px; padding:0px;
    font-family: 'Nanum Gothic', Tahoma, Sans-serif;
    font-size: 12px;
    color: #666362;
}
body     { padding:0; margin:0 auto; background-color:#f4f4f4; }
div      { box-sizing: border-box; }
#wrap    { padding:0; margin:0 auto; width:1184px; }

/******* 공통 레이아웃 *********/
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:active { text-decoration:none; }
a:hover{ text-decoration:none; }
a img { border:0; vertical-align:top; }
ol,ul,li { list-style:none; margin:0; padding:0; float:left; vertical-align:top; }
.clear { clear:both; }

/******* header **********/
#header     { width:100%; height:90px; background-color:#fff; }
 .top       { padding:0; margin:0 auto; 
              width:1206px; height:90px; }
 .log       { float:left;
              width:299px;
              padding-top:16px; }
 .nav       { float:left;  
              width:885px; }
 .search    { float:left; 
              width:143px; height:31px;
              margin-top:10px; margin-left:602px; }
 .search_field  { float:left;
                  width:122px; height:31px;
                  background:url(/static/img/main/search_bg.jpg) no-repeat; }
 .search_btn    { float:left;
                  width:21px; 
                  margin-top:10px; }
 .login_01      { float:left; 
                  margin-top:25px; margin-left:28px;
                  font-size:13px; color:#2b2b2b; }
 .login_02      { float:left; 
                  margin-top:25px; margin-left:21px;
                  font-size:13px; color:#2b2b2b; }
 .gnb           { width:885px; }

 .gnb_nav_h1    { float:left;
                  width:175px; }

 .gnb_nav_h1 a  { font-size:18px; color:#2b2b2b; }

 .gnb_nav_h2    { float:left;
                  width:160px; }
 .gnb_nav_h2 a  { font-size:18px; color:#2b2b2b; }

 .write_i       { float:left;
                  margin-top:14px; margin-left:151px; }
 .write_t       { float:left;
                  margin-top:12px; margin-left:1px;
                  font-size:13px; color:#2b2b2b; }
 .img_section  { padding:0; margin:0  auto;
                 width:100%; height:394px; 
                 background-color:#484e52; background:url(/static/img/main/img.jpg) no-repeat; }
#filter        { float:left;
                 width:100%; height:65px; background-color:#484e52; }
#f_nav         { padding:0; margin:0 auto; position: relative;
                 width:1184px; height:65px; }
#themeMenu {
    left: 351px;
}
#roomMenu {
    left: 351px;
}
#residenceMenu {
    left: 521px;
}
#authorMenu {
    left: 521px;
}
#mediaMenu {
    left: 698px;
}
 .f_menu     { position: absolute;
                display: none;
                 width:152px;
                 z-index: 1000; }
 .f_menu .box1  { width:100%; height:5px; display: flex; }
 .f_menu .box1 img { margin: 0 auto;}
 .f_menu .box2  { width:100%; padding-bottom:17px; background-color: rgba(255, 255, 255, 0.9); }
 .f_menu .box2 a { color: #030303; font-size: 13px;}
 .f_menu .h1    { width:152px;
                    padding-top:16px;
                    padding-left:28px; 
                    font-size:13px; color:#2b2b2b; }
 .f_menu .h2    { width:152px;
                    padding-top:11px;
                    padding-left:28px; 
                    font-size:13px; color:#2b2b2b; }

#f1            { position:relative; 
                 padding:0; margin:7px auto 0 auto;
                 width:590px; height:27px; }
.f_nav_h1      { float:left;
                 margin-top:11px; margin-left:100px; }
.f_nav_h2      { float:left;
                 margin-top:7px; 
                 font-size:15px; color:#a5afb7;  }
.f_nav_h3      { float:left;
                 margin-top:11px; margin-left:122px; }
#f2           { position:relative; 
                padding:0; margin:0 auto; 
                width:700px; height:26px; }
.f2_nav_h1    { float:left;
                width:160px; height:25px;
                margin-top:7px; margin-left:143px; padding-left:9px;
                font-size:15px; color:#fff; text-align: center; }
.f2_nav_h2    { float:left;
                width:160px; height:25px;
                margin-top:7px; padding-left:20px;
                font-size:15px; color:#fff; text-align: center; }
.f2_nav_h3    { float:left;
                width:160px; height:25px;
                margin-top:7px; padding-left:36px;
                font-size:15px; color:#fff; text-align: center; }
.f2_nav_h4    { float:left;
                width:160px; height:25px;
                margin-top:7px; padding-left:60px;
                font-size:15px; color:#fff; text-align: center; }       
.f2_all       { float:left; cursor: pointer;
                width:61px; height:17px; }
              


/******* main container **********/
#container     { width:100%; }

.content {
    width: 1206px;
    margin: 0 auto;
}
.content-title {
    font-size: 18px;
    font-weight: 700;
    padding: 35px 0 25px 0;
    text-align: center;
    color: #030303;
}

.cards {
    width: 100%;
    display: inline-block;
    padding-top: 11px;
}
.card {
    position: relative;
    cursor: pointer;
    float: left;
    width: 33.333%;
    max-width: 380px;
    max-height: 380px;
    margin: 0 11px 22px 11px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card:after {
    content: "";
    display: block;
    padding-bottom: 100%;
 }
.card .card-info {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    height: 120px;
}
.card .card-author {
    position: absolute;
    display: flex;
    float: left;
    top: 0px;
    padding: 6px 20px;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
}
.card .card-avatar {
    display: flex;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card .card-user {
    display: flex;
    padding: 4px 0 0 6px;
    font-size: 14px;
    color: #ffffff;
}
.card .card-content {
    position: absolute;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 84px;
    padding: 10px 51px;
    background-color: #ffffff;
}
.card .card-title {
    font-size: 13px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}
.card .card-content a {
    color: #030303;
    font-size: 14px;
}
.card .card-content a:hover {
    text-decoration: underline;
}
.card .card-content .card-category {
    font-weight: 700;
    margin-bottom: 8px;
}
.card .card-action {
    height: 44px;
    background-color: #ffffff;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
}


/******* footer **********/
#footer { width:100%; height:116px; background-color:#3e4448; } 
 .bot   { padding:0; margin:0 auto; 
          width:1184px; height:92px; }
 .ci    { float:left;
          width:162px; 
          padding-top:35px; }
 .cr_1  { float:left;
          width:388px; 
          padding-top:20px; 
          font-size:12px; color:#787c7f; }
 .cr_2  { float:left;
          width:279px; 
          padding-top:47px;
          font-size:12px; color:#787c7f; }
 .cr_3  { float:left; 
          padding-top:54px; margin-left:8px;
          font-size:12px; color:#9fa2a4; font-weight:bold; }
 .cr_4  { float:left; 
          padding-top:54px; margin-left:29px;
          font-size:12px; color:#9fa2a4; font-weight:bold; }
 .selectbox  { float:left; 
               padding-top:54px; margin-left:15px; }
 .select     { position: absolute;
	       width: 83px; height: 21px;
	       padding: 0 24px 0 8px;
	       color: #2b2b2b; font-size:12px; background: url(/static/img/main/select.jpg) no-repeat;
	       overflow: hidden; }


 

